/*styles go here*/
/* p {
  color:red;
} */
p{
  color: #666666;
  font-family: Helvetica, Arial, Sans-serif;
}

h1 {
  font-family: Georgia, "Times New Roman",serif;
}



#container {
  width: 95%;
  margin: 0 auto;
}

#nav {
  
}
