  p {
    color: #666666;
    font-family: 'Noto Sans', sans-serif;
  }

.italic {
  font-weight: bold;
}
  h1{
    color: #2d5f73;
    margin:20px;
    font-family: 'Noto Serif', serif;
  }

  #container {
    width: 95%;
    margin: 0 auto;
    background-color: #f2d1b3;
  }

  #nav {
    padding: 0;
    list-style-type: none;
  }

#nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #2d5f73;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #f2b8a2;
  background-color: white;
  font-weight: bold;
  text-align:center;
  text-decoration: none;
  padding: 4px;
  font-family: 'Noto Sans', sans-serif;
}

#nav a:hover, #nav a:active {
  background-color: #f4e1d2;
}

.caption {
  color: #2d5f73;
  font-family: 'NotoSans-italic', sans-serif;
  font-size: 0.8em;
  margin-top: 0;
  text-align: right;
}

#footer {
  color: #2d5f73;
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}

img {
  border: none;
}
