  p {
    color: #666666;
    font-family: 'NotoSans-Regular', helvetica, "Times new roman";
  }

.italic {
  font-weight: bold;
}
  h1{
    color: #6b5b95;
    margin:20px;
    font-family:'NotoSerif-Regular', serif;
  }

  #container {
    width: 95%;
    margin: 0 auto;
  }

  #nav {
    padding: 0;
    list-style-type: none;
  }

#nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #50394c;
  background-color: #fefbd8;
  font-weight: bold;
  text-align:center;
  text-decoration: none;
  padding: 4px;
  font-family: "NotoSans-Regular",helvetica, sans-serif;
}

#nav a:hover, #nav a:active {
  background-color: #f4e1d2;
}

.caption {
  color: #50394c;
  font-family: georgia, "times new roman", serif;
  font-style: italic;
  font-size: 0.8em;
  margin-top: 0;
  text-align: right;
}

#footer {
  color: #50394c;
  font-family: georgia, "times new roman", serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}

img {
  border: none;
}
