<head>
<link rel="stylesheet" type="texts/css" href="-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
  </head>

  body{
    background-color: lightblue;
  }

  h1{
    color:navy;
    margin:20px
  }

  #container {
    padding:0;
    list-style-type:none;
  }

  #nav {
    padding:0
    list-style-type:none;
  }

#nav li {
  margin:0;
  padding:0
  border-bottom:1px solid #ccc;
}
