/*styles go here*/

p {
	color: #666666;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
}

#container{
    width: 95%;
    margin: 0 auto;
}

#nav {
    padding: 0;
	  list-style-type: none;
}

#nav li {
	margin: 0;
	padding: 0;
}
#nav a:link, #nav a:visited {
	color: #ffffff;
	background-color: #98bf21;
	font-weight: bold;
	display:block;
	text-decoration: none;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	padding: 4px;
}


#nav a:hover, #nav a:active {
	background-color: #7a991a;
}
<hr />
.caption {
	color: black;
	font-family: Georgia, "times new roman", serif;
	font-style: italic;
	font-size: 0.8em;
	margin-top: 0;
}

#footer {
	color: black;
	font-family: Georgia, "times new roman", serif;
	font-style: italic;
	font-size: 0.8em;
	border-top: 1px solid black;
}

img {
	border: none;
}
